<div class="row">
    <div class="card col-3 mt-5 mr-5 ml-5 mx-auto border">
       <span> <b>ID : </b>{{doctor.id}}</span>
       <br>
       <span> <b>FIRST NAME : </b>{{doctor.firstname}}</span>
       <br>
        <span> <b>LAST NAME :</b>{{doctor.lastname}}</span>
        <br>
            <span> <b>AGE : </b>{{doctor.age}}</span>
            <br>
                <span> <b>GENDER : </b>{{doctor.gender}}</span>
                <br>
                    <span> <b>DATE OF BIRTH :</b>{{doctor.dob}}</span>
                    <br>
                        <span> <b>NUMBER : </b>{{doctor.number}}</span>
                        <br>
                            <span> <b>CLINIC NAME : </b>{{doctor.clinicname}}</span>
                            <br>
                                <span> <b>SPECIALITY : </b>{{doctor.speciality}}</span>
                                <br>
                                    <span> <b>WORKING HOURS :</b>{{doctor.workhours}}</span>
                                    <br>
                                        
    </div>
</div>
