<div class="row container-fluid image">
    <div class="col-xs-12 my-5 mx-auto">
        <h1>Patient Pending Request</h1>
        <div *ngIf="this.size == 0" class="alert alert-danger mt-5">
                No Patient Request Pending.Click Back to go to Previous Page
                    <a routerLink="/admin">Back.</a>
        </div>
        <div class="card mt-5 content" *ngIf="this.size > 0">
            <table class="table">
                <tr *ngFor="let patient of user">
                    <td class="ml-5 text-light"><b>{{patient.username}}</b></td>
                    <td> <div class="ml-auto blue">
                            <a class="nav-link center " (click)="patDetails(patient.username)">
                                    <b class="text-light">DETAILS</b>
                                </a>
                    </div>   </td>
                    <td>
                        <div class="row">
                            <div class="ml-auto">
                                    <a class="nav-link delete-icon" (click)="onApprove(patient)">
                                            <i class="material-icons btn-success">check</i>
                                        </a>

                                <a class="nav-link delete-icon" (click)="onReject(patient.id)">
                                    <i class="material-icons btn-danger">close</i>
                                </a>
                            </div>
                        </div>
                    </td>
                </tr>
              
            </table>
        </div>
    </div>
</div>


