<div class="card image">          
  <div class="row mt-5 ml-2 mr-2 mb-5 ">
  
                    <div class="col-sm-6">
      <div class="card ">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQcC7k-DvWe2WkVgfMlLh4xcSQVzi8H1iTAssl0qIjfUvm_HtYn" class="card-img-top">
        <div class="card-body content">
          <h5 class="card-title">Doctors request Pending To Accept</h5>
         
          <button [routerLink]="['/doctoraccept']" type="button" class="btn btn-warning">
            <i class="material-icons other_icon"> notes </i> A/D Doctor
        </button>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card ">
       
          
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSsgvwetwTSL76Jn4-A2ZmIVQ_s_3WtGRxnXQcX66CNa89kSSnH" class="card-img-top">
          <div class="card-body content">
          <h5 class="card-title">User/patient requests Pending To Accept</h5>
          <button [routerLink]="['/patientaccept']" type="button" class="btn btn-warning">
            <i class="material-icons other_icon"> notes </i> A/D Patient
        </button>
        </div>
      </div>
    </div>
  </div>
</div>

