<div class="row">
        <div class="card col-3 mt-5 mr-5 ml-5 mx-auto border">
           <span> <b>ID : </b>{{patient.id}}</span>
           <br>
           <span> <b>FIRST NAME : </b>{{patient.firstname}}</span>
           <br>
            <span> <b>LAST NAME :</b>{{patient.lastname}}</span>
            <br>
                <span> <b>AGE : </b>{{patient.age}}</span>
                <br>
                    <span> <b>GENDER : </b>{{patient.gender}}</span>
                    <br>
                        <span> <b>DATE OF BIRTH :</b>{{patient.dob}}</span>
                        <br>
                            <span> <b>NUMBER : </b>{{patient.number}}</span>
                            <br>
                                <span> <b>CITY : </b>{{patient.city}}</span>
                                <br>
                                    <span> <b>STATE : </b>{{patient.state}}</span>
                                    <br>
                                        <span> <b>PINCODE :</b>{{patient.code}}</span>
                                        <br>
                                            
        </div>
    </div>
    