<div class="row container-fluid report">
    <div class="col-xs-12 my-5 mx-auto">
        <h1>Patient Accepted</h1>
        <!-- <div *ngIf="this.size == 0" class="alert alert-danger mt-5">
                No Doctor Request Pending.Click Back to go to Previous Page
                    <a routerLink="/admin">Back.</a>
        </div> -->
        <div class="card mt-5">
            <table class="table">
                <tr *ngFor="let approvedPatient of booking.listone">
                    <td class="ml-5">{{approvedPatient.firstname}}</td>

                    <!-- <td class="ml-5" *ngFor="let rep of pendingPatient.reportList">
                        {{rep.cusid}}
                    </td>
 -->
                    <!-- <td *ngFor="let rep of pendingPatient.reportList">
                    <td class="ml-5">{{rep.cusid}}</td>
                    </td> -->
                    <td>
                        <div class="row">
                            <div class="ml-auto">
                                    <button [routerLink]="['/reportform',approvedPatient.id]" type="button"  class="btn btn-dark btn-sm">
                                        <i class="material-icons other_icon">museum </i> Genarate Report
                                    </button>
                            </div>
                        </div>
                    </td>
                </tr>
              
            </table>
        </div>
    </div>
</div>

